{% extends 'base.html' %}

{% block title %}
Order Database
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Order History</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index/">Dashboard</a></li>
            <li class="breadcrumb-item active">Order History</li>
        </ol>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header">New Order</div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <select id="productName" name="productName" class="selectpicker form-control">
                                    <option selected value="">Choose...</option>
                                    {% if products|length > 0 %}
                                    {% for product in products %}
                                    <option value="{{ product['name'] }}">{{ product['name'] }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="summary">Product Quantity</label>
                                <input type="text" name="quantity" placeholder="Input Product Quantity" 
                                class="form-control" value="{{ request.form['quantity'] }}"></input>
                            </div>
                            <div class="form-group">
                                <label for="customerName">Customer Name  |   </label>  
                                <a href="/customer/">Click here to add a new customer</a> 
                                <select id="customerName" name="customerName" class="selectpicker form-control">
                                    <option selected value="">Choose...</option>
                                    {% if customers|length > 0 %}
                                    {% for customer in customers %}
                                    <option value="{{ customer['name'] }}">{{ customer['name'] }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="summary">Order Description</label>
                                <input type="text" name="content" placeholder="Input Order Description" 
                                class="form-control" value="{{ request.form['content'] }}"></input>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Orders Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if orders|length < 1 %}
                        <h4>There is no Order History, add one above</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Product Name</th>
                                    <th>Product Quantity</th>
                                    <th>Customer Name</th>
                                    <th>Order Description</th>
                                    <th>Order Date</th>
                                    <th>Received Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order['id'] }}</td>
                                    <td>{{ order['productName'] }}</td>
                                    <td>{{ order['quantity'] }}</td>
                                    <td>{{ order['customerName'] }}</td>
                                    <td>{{ order['content'] }}</td>
                                    <td>{{ order['orderedOn'] }}</td>
                                    <td>{{ order['receivedOn'] }} <br>
                                        <a href="/order-received/{{ order['id'] }}">Receive</a>    
                                    </td>
                                    <td>
                                        <a href="/delete-order/{{ order['id'] }} " onclick="return confirm('Are you sure you want to delete this?')"">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
    </div>
</main>
{% endblock %}